.icon {
  width: 93px;
  height: auto;
  padding: 5px 0px 5px 0px;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.icon button img:hover {
  filter: brightness(60%);
}

.content_center {
  display: flex;
  align-content: center;
  align-items: center;
} /* div 안에 content들 중심 축으로 정렬해줌 */

/* users_writeForm start */
.email_on {
  padding: 12px 10px;

  width: 100%;
  border-radius: 6px !important;
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
}
.email_off {
  display: none;
}
/* users_writeForm end */
/* users_projectApplication start */
.td_column_check {
  width: 90px;
}
.td_column_id {
  width: 150px;
}
.td_column_email {
  width: 200px;
}
.td_column_tech {
  width: 250px;
}
.td_column_apply {
  width: auto;
}
.div_height_table {
  height: 400px;
}
/* users_projectApplication end */
/* manager_userManageForm start*/
.td_column_name_manager {
  width: 50px;
}
.td_column_id_manager {
  width: 100px;
}
.td_column_gender_manager {
  width: 50px;
}
.td_column_email_manager {
  width: 150px;
}
.td_column_phone_manager {
  width: 150px;
}
.td_column_address_manager {
  width: 200px;
}
.td_column_subscription_manager {
  width: 150px;
}
.div_height_table_manager {
  height: auto;
}
.td_column_check_manager {
  width: 30px;
}

/* manager_userManageForm end*/
/* project_writeForm start*/
.project_namebox input {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #e3e3e3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto !important;
  color: #696980;
  font-size: 14px;
  border-radius: 6px !important;
}
.project_fieldbox {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #e3e3e3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: auto !important;
  color: #696980;
  font-size: 14px;
  border-radius: 6px !important;
  display: flex;
}
.field_radio {
  padding: 20px;
  display: flex;
  align-content: center;
}
.txt {
  padding-left: 8px;
}
.project_explain {
  padding: 12px 10px;
  border: 1px solid #e3e3e3;
  width: 100%;
  border-radius: 6px !important;
}
/* project_writeForm end*/
/* board start */
.boardTitle {
  margin: 10px 10px 20px 10px;
}
.boardSection {
  display: grid;
  grid-template-columns: 3fr, 1fr;
  border: 2px solid #e3e3e3;
  padding: 12px 10px;
  border-radius: 6px !important;
}
.leaderInfo {
  position: sticky;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  top: 0px;
  height: 1318px;
}
.leaderInfoDiv {
  border: 1px solid #e3e3e3;
  padding: 12px 10px;
  border-radius: 6px !important;
}
.leaderInfo1 {
  border: 1px solid #e3e3e3;
  display: block;
}
.leaderInfo1_imgId {
  display: flex;
  align-items: center;
  align-content: center;
}
.leaderInfo1_imgDiv {
  margin: 15px;
}
.leaderInfo1_img {
  width: 50px;
  height: 50px;
}
.leaderInfo1_idDiv {
  margin-left: 20px;
}
.leaderInfo1_id {
  font-size: 1.3rem;
  letter-spacing: 0.8px;
  font-weight: 600;
}
.leaderInfo1_techLanDiv {
  margin: 10px 10px 0px 10px;
}
.leaderInfo1_techLan {
  font-size: 14px;
  letter-spacing: -0.9px;
  font-weight: 600;
}
.leaderInfo1_iconDiv {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  margin: 10px;
}
.leaderInfo2 {
  margin: 15px 0px;
}
.leaderInfo2_periodTitleDiv {
  margin: 10px;
}
.leaderInfo2_periodTitle {
  font-size: 19px;
  letter-spacing: -0.9px;
  font-weight: 600;
}
.leaderInfo2_periodDiv {
  margin: 10px 10px 0px 10px;
}
.leaderInfo2_period {
  font-size: 15px;
  letter-spacing: -0.2px;
  font-weight: 400;
  margin-left: 4px;
}
.leaderInfo3 {
  margin: 15px 0px;
}
.leaderInfo3_fieldTitleDiv {
  margin: 10px;
}
.leaderInfo3_fieldTitle {
  font-size: 19px;
  letter-spacing: -0.9px;
  font-weight: 600;
}
.leaderInfo3_fieldDiv {
  margin: 10px 10px 0px 10px;
}
.leaderInfo3_field {
  font-size: 15px;
  letter-spacing: -0.2px;
  font-weight: 400;
  margin-left: 4px;
}

.project_explainBox {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
  padding: 15px 15px 15px 15px;
  margin-right: 10px !important;
  width: 100%;
}
.techLan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0.375rem;
  border: 1px solid #e3e3e3;
  margin: 15px 0px 15px 15px;
  padding: 16px;
}
.techLan_icon {
  width: 93px;
  height: auto;
  padding: 5px 0px 5px 0px;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
}
.board_memberDiv {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-top: 15px;
}
.board_memberArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.board_member {
  padding: 15px 15px 15px 15px;
  width: 230px;
  border: 1px solid #e3e3e3;
  border-radius: 0.375rem;
  margin: 15px 15px 15px 15px;
}
.board_member1 {
  display: flex;
  text-align: center;
  align-items: center;
}
.board_member1_img {
  width: 50px;
  height: 50px;
  border-radius: 15%;
  margin-right: 20px;
}
.board_member1_id {
  font-size: 1.3rem;
  letter-spacing: -0.2px;
  font-weight: 900;
}
.board_member2 {
  display: block;
  margin-top: 6px;
}
.board_member2_field {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.board_member3_techLan {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.board_member3 {
  margin-top: 6px;
}
.board_member3_icon {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  border: 1px solid #e3e3e3;
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
}

/* board end */
.prj-btn {
  background-color: white;
  border-radius: 0.2rem;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid black;
}
.prj-btn:hover {
  background-color: #e9e7e7;
}
footer {
  position: relative;
  width: auto;
  height: auto;
  padding: 20px 30px;
  margin: 0 auto;
  letter-spacing: -0.2px;
}
.height-m800 {
  min-height: 800px;
}
.half {
  position: absolute;
  top: 50%;
}
.posi {
  position: relative;
  width: 1130px;
  height: auto;
  margin: 0 auto;
  letter-spacing: -0.2px;
}

nav {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 auto;
  letter-spacing: -0.2px;
}
.container {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 auto;
  letter-spacing: -0.2px;
}

section {
  position: relative;
  width: 1130px;
  height: auto;
  padding: 20px 30px;
  margin: 0 auto;
  letter-spacing: -0.2px;
  background-color: #ffffff;
}
.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0.375rem;
  border: 1px solid #cacaca;
}
.flex {
  display: flex;
}
.btn-position {
  position: relative;
  justify-content: center;
}
.section {
  border: 2px solid #cacaca;
  border-radius: 20px;
}
.box {
  border: 1px solid #cacaca;
  border-radius: 0.375rem;
  width: 25%;
  height: 2.5rem;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
}
.btn-shape {
  border: 1px solid #cacaca;
  border-radius: 0.375rem;
  width: 30%;
  height: 2.5rem;
}
button {
  border-radius: 0;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
.form-select {
  width: 100%;
  padding: 0.5rem 3.3rem 0.5rem 1.1rem;
  -moz-padding-start: calc(1.1rem - 3px);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1.1rem center;
  background-size: 16px 12px;
  border: 1px solid #cacaca;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: left;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-1 {
  margin-right: 0.25rem !important;
  margin-left: 0.25rem !important;
}

.mx-2 {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.mx-4 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.mx-5 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px-1 {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.px-2 {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.px-3 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}

/* icon checkbox */
input[id="android"] {
  display: none;
}
input[id="android"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/android_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="android"]:checked + label em {
  background-position: -50px 0;
}

.icon:hover {
  filter: brightness(60%);
}

input[id="aws"] {
  display: none;
}
input[id="aws"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/aws_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="aws"]:checked + label em {
  background-position: -50px 0;
}

.icon:hover {
  filter: brightness(60%);
}

input[id="c"] {
  display: none;
}
input[id="c"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/c_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="c"]:checked + label em {
  background-position: -50px 0;
}

.icon:hover {
  filter: brightness(60%);
}

input[id="docker"] {
  display: none;
}
input[id="docker"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/docker_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="docker"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="figma"] {
  display: none;
}
input[id="figma"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/figma_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="figma"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="flutter"] {
  display: none;
}
input[id="flutter"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/flutter_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="flutter"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="git"] {
  display: none;
}
input[id="git"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/git_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="git"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="html"] {
  display: none;
}
input[id="html"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/html_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="html"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="ios"] {
  display: none;
}
input[id="ios"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/ios_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="ios"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="javascript"] {
  display: none;
}
input[id="javascript"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/javascript_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="javascript"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="java"] {
  display: none;
}
input[id="java"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/java_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="java"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="kotlin"] {
  display: none;
}
input[id="kotlin"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/kotlin_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="kotlin"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="kubernetes"] {
  display: none;
}
input[id="kubernetes"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/kubernetes_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="kubernetes"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="mongodb"] {
  display: none;
}
input[id="mongodb"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/mongodb_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="mongodb"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="mysql"] {
  display: none;
}
input[id="mysql"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/mysql_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="mysql"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="nodejs"] {
  display: none;
}
input[id="nodejs"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/nodejs_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="nodejs"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="photoshop"] {
  display: none;
}
input[id="photoshop"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/photoshop_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="photoshop"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="python"] {
  display: none;
}
input[id="python"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/python_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="python"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="react"] {
  display: none;
}
input[id="react"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/react_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="react"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="spring"] {
  display: none;
}
input[id="spring"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/spring_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="spring"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="tensorflow"] {
  display: none;
}
input[id="tensorflow"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/tensorflow_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="tensorflow"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="typescript"] {
  display: none;
}
input[id="typescript"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/typescript_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="typescript"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="unity"] {
  display: none;
}
input[id="unity"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/unity_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="unity"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}

input[id="vue"] {
  display: none;
}
input[id="vue"] + label em {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../assets/icon/vue_check.png) 0 0 no-repeat;
  vertical-align: middle;
}
input[id="vue"]:checked + label em {
  background-position: -50px 0;
}
.icon:hover {
  filter: brightness(60%);
}
