<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="projectSQL">

 <insert id="writeProject" parameterType="project">
   insert into project values(#{id}, #{team_Leader}, #{title},
   #{field}, #{content}, #{start_Date}, #{due_Date}, #{member_Joined},
   #{created_At}, #{member_Need}, #{recruit_State})
 </insert>

 <select id="getProject" parameterType="String" resultType="project">
  select * project values(#{id}, #{team_Leader}, #{title},
  #{field}, #{content}, #{start_Date}, #{due_Date}, #{member_Joined},
  #{created_At}, #{member_Need}, #{recruit_State})
  where id=#{project_id}
 </select>

 <select id="getAdminpage1" parameterType="java.util.Map" resultType="project">
  <![CDATA[
			select * from
			(select rownum rn, tt.* from
			(select * from project where field=#{field} and recruit_state='ing') tt
			)where rn>=#{startNum} and rn<=#{endNum}
		]]>
 </select>

 <select id="getAdminpage2" parameterType="java.util.Map" resultType="project">
  <![CDATA[
			select * from
			(select rownum rn, tt.* from
			(select * from project where field=#{field}) tt
			)where rn>=#{startNum} and rn<=#{endNum}
		]]>
 </select>

 <select id="getChosenTech" resultType="String">
  SELECT chosen_tech
  FROM Project_Tech_Stack
  UNPIVOT INCLUDE NULLS (
  chosen FOR chosen_tech IN (
  figma, photoshop, ios, android, react, vue, flutter,
  html_css, javascript, spring, java, Kotlin, node_js,
  MongoDB, C_C#, Git, AWS, Docker, kubernetes, tensorflow,
  unity, python, MySql, TypeScript
  )
  )WHERE chosen = 'y' and project_id=#{projectId};
 </select>

 <!-- 총글수 -->
 <select id="getTotalA" resultType="int">
  select count(*) from project
 </select>

 <delete id="deleteProject" parameterType="int">
  delete from project where id=#{projectId}
 </delete>


 <!-- 해당 User의 북마크 목록 가져오기-->
 <!-- user_id 받아서 List<projectDTO> 반환함-->
 <select id="getBookmark" parameterType="String" resultType="project">
  SELECT project_id from bookmark WHERE user_id=#{user_id} ORDER BY id desc
 </select>
 

 
 <select id="adminGetUserList" parameterType="java.util.Map" resultType="user">
	<![CDATA[
		select * from
		(select rownum rn, tt.* from
		(select * from user_table) tt
		)where rn>=#{startNum} and rn<=#{endNum}
	]]>
 </select>
 
 <!-- user 총인원 수 -->
 <select id="getUserTotalA" resultType="int">
	select count(*) from user_table
 </select>
 
 <delete id="adminDeleteUser" parameterType="String">
 	delete from user_table where id=#{id}
 </delete>

	
 </mapper>
 
 